.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 100vh;
    // background-color: rgb(18, 22, 22);
    // position: inherit;
    z-index: 2;

    &__text{
        background-color: rgba(193, 104, 196, 0.808);
        padding: 1rem;
        border-radius: 0.5rem;
    }
}