// @use "./src/styles/partials/mixins.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
body::after,
body::before {
  font-family: "Avenir Next", sans-serif;
  padding: 1rem;

  // max-width: $desktop-breakpoint;
  // @include flex-column;
  justify-content: center;
  align-items: center;
  // @include tablet-breakpoint {
  //   padding: 1rem 2.25rem;
  // }

  // @include desktop-breakpoint {
  //   padding: 1rem 3rem;
  // }
  overflow-x: hidden;
}

.app {
}

.sub-topic {

  &:target {
    padding-top: 6.25rem; /* Adjust as needed */
    margin-top: -6.25rem;
  }
  // margin-top: 6rem;
  font-family: poppins;
  font-family: 'Georgia', serif;
  font-size: 5rem;
  font-weight: bold;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  position: relative;
  

}